psycopg2
tzdata
setuptools
ldap3
zeep
python-stdnum
simpleeval
pypdf
Pillow
oauthlib
requests_oauthlib
aeb43
future
mt940
ofxparse
braintree
stripe
efficient_apriori
elasticsearch
phonenumbers
pyactiveresource
ShopifyAPI